body{
  font-family: sans-serif;
}
p{
background-color: #74c0fc;
text-align: center;
padding:20px;
font-size: 18px;
}
body{
background-color: lightblue;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;    
}




